/* Basic CSS reset */
* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

/* Vars */
:root {
  --indigo: #6E07F3;
  --textWhite: #f1f5f9;
  --blackBody: #0f172a;
  --distanceArticles: 8rem;
}

/* Global body settings */
html  {
 scroll-padding: 9rem;
 scroll-behavior: smooth;
}

body {
  background-color: var(--blackBody);
  color: var(--textWhite);
  font-family: "Lucida Console", "Courier New", monospace;
  line-height: 1;
}

p {
  font-weight: 700;
}

.mt {
  margin-top: 15px;
}

.mb {
  margin-bottom: 15px;
}

a {
  text-decoration: none;
  color: var(--textWhite);
}

/* Scroll top button */
.scrollTopButton {
  background-color: var(--indigo);
  color: var(--textWhite);
  text-align: center;
  position: fixed;
  right: 0;
  bottom: 0;
  margin: 0 30px 30px 0;
  padding: 15px;
  border-radius: 9999px;
  cursor: pointer;
  z-index: 9999;
}

/* Navbar */
nav {
  display: flex;
  top: 0;
  left: 0;
  right: 0;
  background-color: #020617;
  padding: 30px 50px 30px 50px;
  animation: fadeDown 1s ease-in;
}

nav > ul {
  margin-left: auto;
}

nav > ul > li {
  display: inline-block;
  list-style-type: none;
  padding-left: 10px;
  padding-right: 10px;
}

nav > ul > li > a {
  font-size: 1.1rem;
  text-decoration: none;
  color: var(--textWhite);
}

nav > ul > li:hover {
  transform: scale(1.1);
}

nav > ul > li > a:hover {
  color: var(--indigo);
}

/* Hamburger mobile  */
#menu__toggle {
  opacity: 0;
}
#menu__toggle:checked + .menu__btn > span {
  transform: rotate(45deg);
}
#menu__toggle:checked + .menu__btn > span::before {
  top: 0;
  transform: rotate(0deg);
}
#menu__toggle:checked + .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}
#menu__toggle:checked ~ .menu__box {
  left: 0 !important;
}
.menu__btn {
  position: absolute;
  top: 42px;
  left: 20px;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 1;
}
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: var(--textWhite);
  transition-duration: 1s;
}
.menu__btn > span::before {
  content: '';
  top: -8px;
}
.menu__btn > span::after {
  content: '';
  top: 8px;
}

.menu__box {
  display: block;
  position: absolute;
  top: 0;
  left: -100%;
  width: 250px;
  height: 100%;
  margin: 0;
  padding: 80px 0;
  list-style: none;
  background-color: #1e293b;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
  transition-duration: .23s;
}
.menu__item {
  display: block;
  padding: 12px 24px;
  color: var(--textWhite);
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  transition-duration: .23s;
}
.menu__item:hover {
  background-color: var(--indigo);
}

.hamburger-menu {
  display: none;
}

/* Hero article */
.hero-container {
  margin-top: 3rem;
}

.hero {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5rem;
}

.hero-info {
  padding: 0 1.3rem 0 1.3rem;
  order: 1;
  animation: fadeRight 1s ease-in;
}

.hero-info > h1 {
  font-size: clamp(1rem, 2.3rem, 2.5rem);
  font-weight: 900;
  margin-bottom: 1rem;
}

.dev-text {
  color: var(--indigo);
  font-weight: bolder;
  font-size: clamp(1.8rem, .9rem, 1.5rem);
}

.personal {  
  font-size: clamp(.8rem, 1rem, 1.5rem);
  margin-top: 10px;
  line-height: 1.3;
}

.spock {
  color: var(--indigo);
  font-size: 2rem;
}

.social-icons {
  display: flex;
  gap: 1rem;
  align-items: center;
  margin: 1rem 0 1rem 0;
}

.social-icons a:hover {
  transform: scale(1.1);
  color: var(--indigo);
} 

.social-icons a {
  font-size: 30px;
  cursor: pointer;
  vertical-align: baseline;
  color: var(--textWhite);
}

.hero-img {
  order: 2;
}

.hero-img img {
  padding-right: 1rem;
  width: 230px;
  height: auto;
  border-radius: 81% 19% 69% 31% / 41% 73% 27% 59% ;
  cursor: pointer;
  animation: border-animation 6s infinite, fade 1s ease-in, fadeLeft 1s ease-in;
}

@keyframes border-animation {
  0% {
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
    box-shadow: 15px 15px 50px rgba(0,0,0,0.2);
  }
  25% { 
    border-radius: 58% 42% 75% 25% / 76% 46% 54% 24%;
  }
  50% {
    border-radius: 50% 50% 33% 67% / 55% 27% 73% 45%;
    box-shadow: -10px -5px 50px rgba(0,0,0,0.2)
  }
  75% {
    border-radius: 33% 67% 58% 42% / 63% 68% 32% 37%
  }
}

/* Tech article */
.tech-container {
  margin-top: 5rem;
  text-align: center;
  animation: fadeUp 1s ease-in;
}

.icon-list {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  flex-wrap: wrap;
  padding: 0 1rem 0 1rem;
}

.icon-list svg {
  margin-top: 30px;
  width: 4rem;
}

.github {
  color: var(--textWhite);
}

.tech-item:hover {
  transform: scale(1.1);
  cursor: pointer;
  color: var(--indigo);
}

/* Devices container */
.devices-container {
  display: flex;
  justify-content: center;
}

.devices-container img {
  width: 100%;
  max-width: 400px;
  height: auto;
}

/* about article */
.about-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5rem 0 5rem 0;
  background: #6E07F3;
  background:   45deg,
  hsl(266deg 94% 49%) 0%,
  hsl(266deg 94% 48%) 18%,
  hsl(266deg 94% 47%) 26%,
  hsl(266deg 94% 46%) 33%,
  hsl(266deg 93% 45%) 39%,
  hsl(266deg 93% 44%) 44%,
  hsl(266deg 93% 43%) 50%,
  hsl(266deg 93% 42%) 56%,
  hsl(266deg 93% 40%) 61%,
  hsl(266deg 93% 39%) 67%,
  hsl(266deg 93% 37%) 74%,
  hsl(266deg 93% 36%) 82%,
  hsl(266deg 93% 35%) 100%;
  margin-top: var(--distanceArticles);
  animation: fade 1.5s linear both;
  animation-timeline: view();
  animation-range: cover 0% cover 30%;
}

.about-content {
  width: 70%;
  text-align: center;
}

.about-content > p {
  font-weight: 700;
  line-height: 1.75;
}

.about-title {
  font-weight: 800;
  margin-bottom: 1.5rem;
}

/* Projects article */
.projects-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: var(--distanceArticles);
  animation: fade 1.5s linear both;
  animation-timeline: view();
  animation-range: cover 0% cover 30%;
}

.project-list {
  margin-top: 2rem;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  width: 80%;
}

.project-list > * {
  flex: 1 1 20rem;
}

.project-item {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
  border-radius: 10px;
  background-color: var(--indigo)
}

/* Contact article */
.contact-container {
  margin-top: var(--distanceArticles);
  padding: 0 2rem 0 2rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  animation: fade 1.5s linear both;
  animation-timeline: view();
  animation-range: cover 0% cover 30%;
}

.contact-container > h1 {
  margin-bottom: 1rem;
}

.contact-info {
  line-height: 1.5;
}

.contact-info h1 {
  font-size: clamp(1rem, 1.4rem, 2.5rem);
}

.contact-info p {
  margin-bottom: 0.7rem;
}

.contact-list {
  display: flex;
  margin-top: 1rem;
  gap: 2rem;
}

.contact-list > a {
  cursor: pointer;
  font-size: 3rem;
  color: var(--textWhite)
}

.contact-list > a:hover {
  color: var(--indigo);
  transform: scale(1.1);
}

.whats-icon, .email-icon {
  
  font-size: 0.9rem;
}

.contact-img > img {
  width: 100%;
  max-width: 400px;
  height: auto;
}

.smile {
  color: var(--indigo);
  font-weight: bold;
  font-size: 1.2rem;
}

/* Footer */
footer {
  margin-top: var(--distanceArticles);
  background-color: #020617;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
}


/* Medias */
@media screen and (width < 952px) {
  /* Vars changes */
  :root {
    --distanceArticles: 3rem;
  }

  /* Mobile nav */
  .hamburger-menu {
    display: block;
  }

  nav  {
    justify-content: center;
  }

  header > nav > ul {
    display: none;
  }

  /* Hero article */
  .hero-container {
    margin-top: var(--distanceArticles);
    text-align: center;
  }

  .hero-about {
    width: 90%;
    text-align: center;
  }

  .hero {
    gap: 1rem;
  }

  .hero-info {
    order: 2;
    text-align: start;
  }

  .hero-img {
    order: 1;
  }

  .hero-img img {
    width: 290px;
    height: auto;
  }

  /* Tech article */
  .tech-container{
    gap: 1rem;
    margin-top: var(--distanceArticles);
    animation: fade 1.5s linear both;
    animation-timeline: view();
    animation-range: cover 0% cover 30%;
  }

  .tech-item i {
    margin-top: 10px;
  }

  /* about article */
  .about-container {
    margin-top: var(--distanceArticles);
  }

  .about-content {
    width: 85%;
  }
}

/* Global Animations */
@keyframes fade {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeDown {
  0% {
    opacity: 0;
    transform: translateY(-30px);
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes fadeLeft {
  0% {
    opacity: 0;
    transform: translateX(30px);
  }

  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

@keyframes fadeRight {
  0% {
    opacity: 0;
    transform: translateX(-30px);
  }

  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

@keyframes fadeUp {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
